body 	{
	background-color: #cccccc; 
	}


a 	{
  
	text-decoration: none; 

	color: #FFFFFF; 
	}

a:link 	{
	color: #cccccc; 
	}

a:visted {
	color: #937393; 
	}

a:focus, a:hover {
	color: #c21d1d; 
	background-color: #FFFFFF; 
	}

a:active {
	color: #000000; 
	background-color: #FFFFFF; 
	}

.logo 	{
	background-color: #bab1b1; 
	width: auto; 
	height: 60px; 
	margin: 0 auto; 
	}

.logo img {
	display: block; 
	margin: 0 auto; 
	width: 60px; 
	height: 60px; 
	}

.follow {
	background-color: #bab1b1; 
	color: #c21d1d; 
	font-family: Tahoma, sans-serif; 
	font-size: 5pt; 
	width: auto; 
	height: 60px; 
	line-height: 30px; 
	margin: 0 auto;
	float: left; 
 
	}

.follow h2 {
	margin-top: 15px; 

	}

.facebook {
	background-color: #bab1b1; 
	width: auto; 
	height: 60px; 
	margin-top: -33px; 
	}

.facebook img {
	margin-left: 10px; 
	margin-right: 10px; 
	width: auto; 
	height: 20px; 
	}

.header {
	background-color: #bab1b1; 
	font-family: "Century Gothic", sans-serif; 
	width: auto; 
	height: 80px; 
	margin: 0px; 
	float: middle; 
	text-align: center; 
	}

.header h1 {
	color: #c21d1d; 
	font-size: 0.9em; 
	}

.header h4 {
	color: #FFFFFF; 
	font-size: 0.5em; 
	}

.call 	{
	background-color: #bab1b1; 
	display: block; 
	color: #c21d1d; 
	font-size: 5pt; 
	font-family: Tahoma, sans-serif; 
	width: 133.5px; 
	height: 80px; 
	line-height: 110px; 
	margin: 0 auto; 
	float: left; 
	text-align: center; 
	}
.call h2 {
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: -26px; 
	}

.navigation {
	margin: 0 auto; 
	width: auto; 
	height: 55px; 
	clear: both; 
	text-align: center; 
	background-color: #c21d1d; 
	font-family: "Century Gothic", sans-serif; 
	font-size: 7.5pt; 
	text-transform: uppercase; 
	color: #FFFFFF; 
	}

.bannerimage 	{
	background-color: red;  
	margin: 0 auto; 
	}

.bannerimage img {
	
	margin: 0 auto; 
	width: auto; 
	height: 155.8px;
	float: left; 
	}

.mission {
	background-color: #df6565; 
	font-size: 8pt; 
	font-family: Verdana, sans-serif;  
	color: #FFFFFF; 
	width: 357px; 
	height: 115px;  
	margin: 0 auto;  
	float: left; 
	} 

.mission h3 {
	color: #FFFFFF; 
	}

.mission h3, p {
	margin-left: 10px; 
	margin-right: 10px; 
	}

.missionlogo {
	background-color: #df6565; 
	margin: 0 auto; 
	width: auto; 
	height: 115px;  
	float: right; 
	}

.missionlogo img {
	display: block; 
	margin: 0 auto; 
	margin-top: 22px; 
	width: 60px; 
	height: 60px;
	}

.spacer1 {
	background-color: #c21d1d; 
	margin: 0 auto; 
	clear: both;
	width: auto; 
	}

.adoptions 	{
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b;
	margin: 0 auto; 
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both; 
	}

.adoptions img {
	display: block; 
	margin: 0 auto; 
	margin-top: 15px; 
	}

.adoptions h2 {
	text-align: center; 
	}

.adoptions a:link {
	color: #c21d1d; 
	}

.contacts 	{
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b;
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both; 
	}

.contacts img {
	display: block; 
	margin: 0 auto; 
	margin-top: 15px; 
	}

.contacts h2 {
	text-align: center; 
	}

.contacts a:link {
	color: #c21d1d; 
	}

.location 	{
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b; 
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both;  
	}

.location img {
	display: block; 
	margin: 0 auto; 
	margin-top: 15px;
	}

.location h2 {
	text-align: center; 
	}

.location a:link {
	color: #c21d1d; 
	}

.footer1 	{
	background-color: #c21d1d; 
	color: #FFFFFF; 
	font-family: "Century Gothic", sans-serif; 
	font-size: 8pt; 
	width: auto; 
	line-height: 10px;  
	margin: 0 auto; 
	text-align: center; 
	clear: both; 
	}

.footer1 a:link {
	color: #FFFFFF; 
	}

.footer1 a:focus, a:hover {
	color: #c21d1d; 
	background-color: #FFFFFF; 
	}

.dog_one {
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b;
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both; 
	margin: 0 auto; 
	}

.dog_one img {
	display: block; 
	margin: 0 auto; 
	margin-top: 22px; 
	}

.dog_two {
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b;
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both; 
	margin: 0 auto; 
	}

.dog_two img {
	display: block; 
	margin: 0 auto; 
	margin-top: 22px; 
	}

.dog_three 	{
	background-color: #8b7777; 
	font-family: Verdana, sans-serif; 
	color: #1f429b; 
	width: 417px; 
	height: 322px; 
	float: left; 
	clear: both; 
	margin: 0 auto; 
	}

.dog_three img {
	display: block; 
	margin: 0 auto; 
	margin-top: 22px;
	}

.contactinfo {
	background-color: #df6565; 
	font-family: Verdana, sans-serif;  
	color: #FFFFFF; 
	width: auto; 
	height: 235px;  
	float: left; 
	margin: 0 auto; 
	} 

.contactinfo h3 {
	color: #FFFFFF; 
	}

.contactinfo h3, p {
	margin-left: 10px; 
	margin-right: 10px; 
	}

.contactinfo p {
	text-align: center;   
	}

.locationinfo {
	background-color: #df6565; 
	font-family: Verdana, sans-serif; 
	color: #FFFFFF; 
	width: auto; 
	height: auto; 
	float: left; 
	margin: 0 auto; 
	text-align: center; 
	}

.googlemap {
	position: relative; 
	overflow: hidden; 
	padding-top: 10%; 
	padding-bottom: 10%; 
	width: 300px; 
	height: 200px; 
}